# Auto detect text files and perform LF normalization
* text=auto
datasets/xlsx_cleaned/Brazillian[[:space:]]E-Commerce.xlsx filter=lfs diff=lfs merge=lfs -text
Microsof[[:space:]]Excel/*.xlsx filter=lfs diff=lfs merge=lfs -text
*.xlsx filter=lfs diff=lfs merge=lfs -text
